@model Department
@{
    ViewData["Title"] = "Department Details";
}

<h1 class="text-primary" >Department Details</h1>
<br />

<partial name="PartialView/DeleteDetailsDepartment" />

<a asp-controller="Department" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-primary"> Edit </a> |
<a asp-action="Index" class="btn btn-light"> Back To List </a>
