@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>
<form asp-action="Edit" method="post" >
    <div asp-validation-summary="All" ></div>

    <partial name="PartialView/CreateEditDepartment" />

    <input type="submit" class="btn btn-primary" value=" Save ✔ " /> |
    <a asp-action="Index" class="btn btn-light"> Cancel ✖ </a>

</form>

