@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>
<form asp-action="Edit" method="post" >
    <div asp-validation-summary="All" ></div>
    <div class="mb-4">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control"  />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control"  />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-4">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control"  />
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value=" Save ✔ " /> |
    <a asp-action="Index" class="btn btn-light"> Cancel ✖ </a>

</form>

