@model Employee
@{
    ViewData["Title"] = "Employee Details";
}

<h1 class="text-primary">Employee Details</h1>
<br />

<partial name="PartialView/DeleteDetailsEmployee" />

<a asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-primary"> Edit </a> |
<a asp-action="Index" class="btn btn-light"> Back To List </a>
