@model Department

<div class="mb-4">
    <label asp-for="Code" class="col-form-label"></label>
    <input asp-for="Code" class="form-control" placeholder="123" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="mb-4">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" placeholder="HR" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-4">
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input asp-for="DateOfCreation" class="form-control" placeholder="22/3/2024 07:30 PM" />
    <span asp-validation-for="DateOfCreation" class="text-danger"></span>
</div>

